@import './fonts';
@import './medias';

$font-stack: 'OatmealPro-Regular';
$font-medium: 'OatmealPro-Medium';
$primary: #002674;
$secondary: #140F33;
$bgdark: #1F2030;
$bglight: #FAFAFA;
$accent: #CE348B;
$ceres: #E2E2E2;
$vanth: #757690;
$pure: #FFFFFF;
$sword: #FF7576;
$moon: #B7B7B7;
$eris: #F2F2F2;
